<div id="<%= dom_id genre %>">
  <p>
    <strong>Category:</strong>
    <%= genre.category.capitalize %>
  </p>

  <p>
    <strong>Description:</strong><br>
    <%= genre.description %>
  </p>

</div>
