<div class="grid-container-1_3">
  <div class="grid-1_3-leftCol">
    <%= render "/shared/navpath", parent:"genres", parent_path: genres_path, child: @genre.category.capitalize %>
  </div>
  <div class="grid-1_3-centreCol">
    <% if can? :update, @genre %>
    <%= link_to "Edit this genre", edit_genre_path(@genre) %>
  <% end %>
  </div>
  <div class="grid-1_3-rightCol">
    <% if can? :destroy, @genre %>
      <%= button_to "Destroy this genre", @genre, method: :delete, class:"btn btn-danger" %>
    <% end %>
  </div>
</div>

<%= render @genre %>