<h1>Editing book user</h1>

<%= render "form", book_user: @book_user %>

<br>

<div>
  <%= link_to "Show this book user", @book_user %> |
  <%= link_to "Back to book users", book_users_path %>
</div>
